@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary-color);
}

:root{
  --bg-primary-color: #ECF3FF;
  --bg-fill-color: #ffffff;
  --text-primary-color:#aaaaaa;
  --input-primary-color:#F3F3F5;

  --space-xs:4px;
  --space-sm:8px;
  --space-md:16px;
  --space-lg:24px;
  --space-xl:32px;
  --space-2xl:40px;
  --space-3xl:48px;
  --space-4xl:50px;

  --border-primary-color: #333333;

  --border-radius-sm:8px;

  --weight-sm:100;
  --weight-md:300;
  --weight-lg:400;
  --weight-xl:500;
  --weight-2xl:700;
  --weight-3xl:800;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.tick, .heading,.sub-heading{
  padding-bottom: var(--space-xs);
}

.heading{
  font-size: var(--space-lg);
  font-weight:var(--weight-xl);
}

.sub-heading{
  font-size: var(--space-md);
  font-weight: var(--weight-lg);
  color: var(--text-primary-color);
}

.input-container{
  background-color: var(--bg-fill-color);
  padding: var(--space-md);
  border-radius: var(--space-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-level,
.date-addtask{
  padding: var(--space-sm);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.add-task,
#level,
.date,
.add-task-btn{
  height: 5vh;
  border-radius: var(--space-xs);
  border: none;
  background-color: var(--input-primary-color);
}

.add-task{
  width: 32vw;
  padding: var(--space-sm);
}

#level{
  width:8vw;
  text-align: center;
}

.cal{
  width: 20px;
}

.date{
  width: 30vw;
  padding: var(--space-sm);
  font-weight: var(--weight-lg);
}

.add-task-btn{
  width: 7vw;
  background-color: black;
  color: white;
  font-weight: var(--weight-md);
}

.search-container{
  background-color: var(--bg-fill-color);
  padding: var(--space-md);
  border-radius: var(--space-sm);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search-bar,
#sort{
  height: 5vh;
  border-radius: var(--space-xs);
  border: none;
  background-color: var(--input-primary-color);
  padding: 8px;
}

.arrowup{
  width: 16px;
}

.search-bar{
  width: 28vw;
}

#sort{
  width:10vw;
  text-align: center;
  font-weight: var(--space-3xl);
}

.completion{
  background-color: var(--bg-fill-color);
  padding: var(--space-md);
  border-radius: var(--space-sm);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slidebar{
  padding: var(--space-xs);
  background-color: var(--input-primary-color);
  border-radius: var(--space-sm);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: relative;   

}

.all,
.active,
.completed{
  padding: var(--space-sm) 65px;
  border: none;
  text-align: center;
  border-radius: var(--space-sm);
  background-color: var(--input-primary-color);
  font-weight: var(--weight-xl);
  position: relative;
  z-index: 2;             
  background-color: transparent;
  color: black;
}



.task-bar{  
  padding: var(--space-md);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task1{
  background-color: var(--bg-fill-color);
  padding: var(--space-md);
  border-radius: var(--space-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0 20px;
  margin: 8px;
}

.task{
  font-weight: var(--weight-xl);
}

.tasklevel,
.edit,
.delete{
  padding: 6px 8px;
  border-radius: var(--space-sm);
}

.tasklevel{
  border: 1px solid green;
  background-color: rgb(189, 225, 189);
}

.edit{
  border: 1px solid blue;
  background-color: rgb(173, 173, 236);
}

.delete{
  border: 1px solid red;
  background-color: rgb(239, 163, 163);
}

.selected {
  background: black;
  color: white;
}

.slider{
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% / 3 - 8px);
  height: calc(100% - 8px);
  background-color: black;
  border-radius: var(--space-sm);
  transition: transform 0.3s ease;
  z-index: 1;
}
